[run]
source = srmodule
omit =
    tests/*
    */migrations/*
    **/__init__.py      
    srmodule/config.py 
[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    
    # don’t list empty files (like empty __init__.py)
    skip_empty = True